set timeout=2
set default=0

menuentry "AetherOS (prototype kernel boot)" {
  echo "Loading AetherOS kernel..."
  linux /boot/vmlinuz-aether root=/dev/ram0 rw quiet loglevel=3 aetheros.mode=prototype
  initrd /boot/initramfs-aether.img
}
